.container3 {
  padding-top: 50px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.detailDescription {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
}

.container4 {
  flex: 3;
  margin-right: 10px;
  min-height: 500px;
}

.container5 {
  flex: 1;
  min-height: 500px;
}

.project-info {
  text-align: center;
  margin-top: 00px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}

.project-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.image-section {
  flex: 1;
  padding-right: 20px;
  width: 500px;
  height: 500px;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.info-section {
  flex: 1;
  margin-left: 50px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats-item {
  flex: 1;
  text-align: left;
}

h5 {
  font-size: 1rem;
  color: #777;
  margin: 10px 0;
}

.progress-bar {
  margin: 20px 0;
  width: 100%;
  max-width: 550px;
}

.goal-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.percentage {
  font-size: 1.2rem;
  color: #1976d2;
  margin-left: 10px;
}

.info-text {
  font-size: 13px;
  color: #777;
  margin: 5px 0;
  text-align: left;
}

.button-container1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.secondary-buttons1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* 기본 버튼 스타일 (Contained) */
.primary-button1 {
  background-color: #7a82ed !important;
  color: #fff !important;
}

.primary-button-width1 {
  background-color: #7a82ed !important;
  color: #fff !important;
  width: 200px;
}

/* 외곽선 버튼 스타일 (Outlined) */
.outlined-button1 {
  border-color: #7a82ed !important;
  color: #7a82ed !important;
}

.divider {
  margin: 20px auto;
  border-bottom: 2px solid #ddd;
  width: 80%;
}

/* 패키지 */
.package-section {
  min-height: 500px;
}
