.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 100%;
  max-width: 500px;
  border-radius: 100px;
  background-color: #d7e8ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.textField {
  width: 100%;
  border: none;
  border-radius: 100px;
  background-color: #f4f9ff;
  height: 56px;
  font-size: 1rem;
  padding: 0 20px;
}

.inputBase {
  border-radius: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.endAdornment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.searchButton {
  min-width: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #007bff;
  font-size: 1.5rem;
}

.searchButton:hover {
  color: #0056b3;
}
